{% extends 'base.html.twig' %}

{% block title %}Business index{% endblock %}

{% block body %}
    <h1>Business index</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="align-text-top">{% trans %}Name{% endtrans %}</th>
                <th class="align-text-top">{% trans %}International Name{% endtrans %}</th>
                <th class="align-text-top">{% trans %}Brand{% endtrans %}</th>
                <th class="align-text-top">{% trans %}Logo{% endtrans %}</th>
                <th class="align-text-top">{% trans %}Occupations{% endtrans %}</th>
                <th class="align-text-top">{% trans %}Agency Type{% endtrans %}</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
        {% for business in businesses %}
            <tr class="{{ business.status == 'STATUS_NEW' ? 'table-success' : '' }}"
                title="{% trans %}Status{% endtrans %}: {{ business.status|trans|raw }}"
            >
                <td>{{ business.name }}</td>
                <td>{{ business.internationalName }}</td>
                <td>{{ business.brand }}</td>
                <td>
                    {% if business.logo %}
                        <img alt="{{ business.name }}" class="img-fluid" src="{{ asset('images/' ~ business.logo) }}">
                    {% endif %}
                </td>
                <td>
                    {% for occupation in business.occupations %}
                        {{ occupation|trans|raw }}
                    {% endfor %}
                </td>
                <td>{{ business.agencyType|trans|raw }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('business_show', {'id': business.id}) }}" title="{% trans %}Show{% endtrans %}">
                        <i class="fas fa-eye"></i>
                    </a>
                    {% if app.user.company.id == business.id %}
                        <a class="btn btn-success btn-sm" href="{{ path('business_edit', {'id': business.id}) }}" title="{% trans %}Edit{% endtrans %}">
                            <i class="fas fa-edit"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>{{ 'nb_of_business'|trans({count: businesses|length}) }}</div>
    {% if previous >= 0 %}
        <a href="{{ path('business_index', {offset: previous }) }}">Previous</a>
    {% endif %}
    {% if next < businesses|length %}
        <a href="{{ path('business_index', { offset: next }) }}">Next</a>
    {% endif %}
{% endblock %}
