{% extends 'base.html.twig' %}

{% block title %}Business{% endblock %}

{% block body %}
    <h1>Business</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ business.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td><a href="mailto: {{ business.email }}">{{ business.email }}</a></td>
            </tr>
            <tr>
                <th>InternationalName</th>
                <td>{{ business.internationalName }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ business.brand }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ business.address }}</td>
            </tr>
            <tr>
                <th>WebURL</th>
                <td><a href="{{ business.webURL }}">{{ business.webURL }}</a></td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>
                    {% if business.logo %}
                        <img src="{{ asset(business.logo) }}">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ business.status|trans|raw }}</td>
            </tr>
            <tr>
                <th>Occupations</th>
                <td>
                    {% for occupation in business.occupations %}
                        {{ occupation|trans|raw }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>AgencyType</th>
                <td>{{ business.agencyType|trans|raw }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('business_index') }}">back to list</a>

    <a href="{{ path('business_edit', {'id': business.id}) }}">edit</a>

    {{ include('business/_delete_form.html.twig') }}

    <a href="{{ path('user_new', {'businessId': business.id}) }}">Create new</a>
    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Surname{% endtrans %}</th>
            <th>{% trans %}Phone{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in business.staff %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td><a href="tel:{{ user.phone }}">{{ user.phone }}</a></td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
