{% extends 'base.html.twig' %}

{% block title %}Cargo{% endblock %}

{% block body %}
    <h1>Cargo
        {% if cargo.owner != app.user.company %}
            ({{ cargo.owner.name }})
        {% endif %}
        </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ cargo.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Weight{% endtrans %}</th>
                <td>{{ cargo.weight }}</td>
            </tr>
            <tr>
                <th>{% trans %}Volume{% endtrans %}</th>
                <td>{{ cargo.volume }}</td>
            </tr>
            <tr>
                <th>{% trans %}Length{% endtrans %}</th>
                <td>{{ cargo.length }}</td>
            </tr>
            <tr>
                <th>{% trans %}Width{% endtrans %}</th>
                <td>{{ cargo.width }}</td>
            </tr>
            <tr>
                <th>{% trans %}Diameter{% endtrans %}</th>
                <td>{{ cargo.diameter }}</td>
            </tr>
            <tr>
                <th>{% trans %}Count Belt{% endtrans %}</th>
                <td>{{ cargo.countBelt }}</td>
            </tr>
            <tr>
                <th>{% trans %}Address From{% endtrans %}</th>
                <td>{{ cargo.addressFrom }}</td>
            </tr>
            <tr>
                <th>{% trans %}Address To{% endtrans %}</th>
                <td>{{ cargo.addressTo }}</td>
            </tr>
            <tr>
                <th>{% trans %}Has Hitch{% endtrans %}</th>
                <td>{{ cargo.hasHitch ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Has Ruber Tyres{% endtrans %}</th>
                <td>{{ cargo.hasRuberTyres ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Has Hook{% endtrans %}</th>
                <td>{{ cargo.hasHook ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Is Tir{% endtrans %}</th>
                <td>{{ cargo.isTir ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Is CMR{% endtrans %}</th>
                <td>{{ cargo.isCMR ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Is T1{% endtrans %}</th>
                <td>{{ cargo.isT1 ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Date Start Min{% endtrans %}</th>
                <td>{{ cargo.dateStartMin ? cargo.dateStartMin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Date Start Max{% endtrans %}</th>
                <td>{{ cargo.dateStartMax ? cargo.dateStartMax|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Price{% endtrans %}</th>
                <td>{{ cargo.price }}</td>
            </tr>
            <tr>
                <th>{% trans %}Payment Kind{% endtrans %}</th>
                <td>{{ cargo.paymentKind|trans }}</td>
            </tr>
            <tr>
                <th>{% trans %}Is Vat{% endtrans %}</th>
                <td>{{ cargo.isVat ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Prepayment Kind{% endtrans %}</th>
                <td>{{ cargo.prepaymentKind|trans }}</td>
            </tr>
            <tr>
                <th>{% trans %}Prepayment{% endtrans %}</th>
                <td>{{ cargo.prepayment }}</td>
            </tr>
            <tr>
                <th>{% trans %}Is Hidden User Request{% endtrans %}</th>
                <td>{{ cargo.isHiddenUserRequest ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Status{% endtrans %}</th>
                <td>{{ cargo.status }}</td>
            </tr>
            <tr>
                <th>{% trans %}Created At{% endtrans %}</th>
                <td>{{ cargo.createdAt ? cargo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Updated At{% endtrans %}</th>
                <td>{{ cargo.updatedAt ? cargo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cargo_index') }}">back to list</a>

    {% if cargo.owner == app.user.company %}
        <a href="{{ path('cargo_edit', {'id': cargo.id}) }}">edit</a>
        {{ include('cargo/_delete_form.html.twig') }}
        {{ include('cargo/_change_status_form.html.twig') }}
    {% else %}
        {% if (my_request) %}
            <a href="{{ path('cargo_request_show', {'id': my_request.id}) }}">View Request</a>
        {% elseif(cargo.status is constant('App\\Entity\\Cargo::STATUS_OPEN')) %}
            <a href="{{ path('cargo_request_new', {'id': cargo.id}) }}">Send Request</a>
        {% endif %}
    {% endif %}
    {% if (cargo.isHiddenUserRequest == false or cargo.owner == app.user.company) %}
        <table class="table">
            <thead>
            <tr>
                <th>Executor</th>
                <th>Price</th>
                <th>Weight</th>
                <th>Volume</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for cargo_request in cargo.cargoRequest %}
                <tr class="{% if (cargo_request == my_request) %}table-active{% endif %}">
                    <td>{{ cargo_request.executor.name }}</td>
                    <td>{{ cargo_request.price }}</td>
                    <td>{{ cargo_request.weight }}</td>
                    <td>{{ cargo_request.volume }}</td>
                    <td>{{ cargo_request.note }}</td>
                    <td>
                        <a href="{{ path('cargo_request_show', {'id': cargo_request.id}) }}">show</a>
                        {% if app.user.company %}
                            {% for status in [
                                constant('APP\\Entity\\CargoRequest::STATUS_APPROVED'),
                                constant('APP\\Entity\\CargoRequest::STATUS_DECLINED_OWNER')
                            ] %}
                                {% set btnName = status %}
                                {% set status = status %}
                            {{ include('cargo_request/_change_status_form.html.twig') }}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
