{% extends 'base.html.twig' %}

{% block title %}CargoRequest index{% endblock %}

{% block body %}

    <h1>CargoRequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Price</th>
                <th>Weight</th>
                <th>Volume</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cargo_request in cargo_requests %}
            <tr>
                <td>{{ cargo_request.status }}</td>
                <td>{{ cargo_request.price }}</td>
                <td>{{ cargo_request.weight }}</td>
                <td>{{ cargo_request.volume }}</td>
                <td>{{ cargo_request.note }}</td>
                <td>
                    <a href="{{ path('cargo_request_show', {'id': cargo_request.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
