{% extends 'base.html.twig' %}

{% block title %}CargoRequest{% endblock %}

{% block body %}
    <h1>CargoRequest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cargo_request.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ cargo_request.status|join('|') }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ cargo_request.price }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ cargo_request.weight }}</td>
            </tr>
            <tr>
                <th>Volume</th>
                <td>{{ cargo_request.volume }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ cargo_request.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cargo_request_index') }}">back to list</a>

    <a href="{{ path('cargo_request_edit', {'id': cargo_request.id}) }}">edit</a>

    {{ include('cargo_request/_delete_form.html.twig') }}
{% endblock %}
